h1 Send melding til kunden
br

p.msg_box_to_customer
  = select_tag "msg", options_from_collection_for_select(CustomerMessage.all, "id", "text")
  button.send_msg Send

br
br
br
= link_to 'Tilbake', :back, class: :secondary_button
  
