= form_tag '#' do
  = text_area_tag :message, nil, placeholder: 'Beskriv avviket', rows: 10
  = text_field_tag :date, nil,    placeholder: 'Velg dato', class: :datepicker
  = submit_tag 'Registrer avvik'
