strong = "Timer registert på #{link_to @project.name, @project}".html_safe

br
br
ul
  li= link_to 'Dagsrapporter', project_billable_hours_path(@project)
  li= link_to 'Timelister', project_personal_hours_path(@project)




br
br
br
br
= link_to 'Tilbake', :back
