production:
  adapter: postgresql
  encoding: unicode
  database: alliero_orwapp_production
  pool: 5

default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000
  username: postgres
  host: <%= ENV['POSTGRES_PORT_5432_TCP_ADDR'] %>
  port: <%= ENV['POSTGRES_PORT_5432_TCP_PORT'] %>

development:
  <<: *default
  database: app_development


test:
  <<: *default
  database: app_test
  user: postgres
  host: <%= ENV['DOCKER_IP'] %>
