$base-spacing: 1
$base-body-color: white

@import bourbon
@import 'base/grid-settings'
@import "base/base"
//@import "base/variables"
@import neat
@import colors
@import normalize
@import refills/styles
@import refills/button-group
@import refills/accordion-tabs-minimal
@import refills/badges
@import refills/tooltip
//@import refills/flash-messages

@import jquery.ui.core 
@import jquery.ui.theme
@import jquery.ui.datepicker 


@import font-awesome
@import layout
@import theme

// Bitter refills
@import button-group

// Pages
@import sallery
@import user_show
@import user_edit
@import frontpage
@import hms
@import video
@import projects
@import reports
@import inventories
@import tasks
@import forms



.hidden
  display: none
