body
  background-color: #555555

#outer-container
  background-color: white
  @include outer-container
  padding: 20px
  margin-top: 10px

#main
  @include span-columns(12)

section
  margin-top: 20px


aside.left_column
  @include span-columns(2)
  padding-right: 20px

.center_column
  @include span-columns(7)
  padding-right: 3%

.right_column
  @include span-columns(1)
  width: 12.17215%
