form#new_task,
.edit_task
  h4,
  h5
    margin: 20px 0 10px 0

.check_boxes
  label
    font-weight: normal

.inventories_search_result
  thead td
    font-weight: bold

#tasks_review
  h4
    margin-bottom: 10px
  em
    font-style: normal
  .what,
  .where
    span
      margin-left: 20px
  section.task
    margin-bottom: 30px

ul.image_listing
  li
    border: 1px solid
    padding: 20px
    margin: 0 0 40px 0
  .name,
  .date
    display: block

.selected_workers,
.selected_inventories
  margin-top: 60px

.links
  margin-top: 50px
  a.no-tools
    margin-right: 20px

table#workers
  margin-bottom: 50px
