body
  background-color: #2A5373

#notice
  color: $yellow
  font-weight: bold

a:hover
  text-decoration: underline

#header
  a
    display: block

h1,
h2,
h3,
h4,
  color: white

.button
  @include border-top-radius(5px)
  @include border-bottom-radius(5px)
  @include border-left-radius(5px)
  @include border-right-radius(5px)
  padding: 20px
  color: white
  a
    color: white
  .fa
    margin-right: 20px

.secondary_button
  @include border-top-radius(5px)
  @include border-bottom-radius(5px)
  @include border-left-radius(5px)
  @include border-right-radius(5px)
  background-color: $yellow
  width: 25%
  padding: 10px
  text-align: center
  margin-top: 20px
  color: $blue
  font-weight: bold

.green
  background-color: $green

.red
  background-color: $red

.yellow
  //background-color: $yellow

nav
  ul li
    float: left

.big
  font-size: 30px

.right
  float: right


.new_tasks_notifier
  //color: red

table
  @include border-top-radius(5px)
  @include border-bottom-radius(5px)
  @include border-left-radius(5px)
  @include border-right-radius(5px)
  padding: 20px
  background-color: $green
  color: white

form.new_hours_spent
  @include border-top-radius(5px)
  @include border-bottom-radius(5px)
  @include border-left-radius(5px)
  @include border-right-radius(5px)
  padding: 20px
  background-color: $green

ul.hour_report
  list-style: disc
