.flash_message,
#notice
  color: $yellow
  font-weight: bold

a:hover
  text-decoration: underline

.logo-wrapper
  background-color: #035091
  height: 55px
  h1
    margin-bottom: 0

#error_explanation
  border: 3px solid red
  margin: 20px 0
  padding: 5px

#top_nav
  margin-top: 20px
  height: 55px
  @include linear-gradient(to top, $green, $dark_green, $fallback: $green)
  a
    color: white
  li
    padding: 15px 3%
    &:hover
      background-color: $dark_blue

a.muted_text
  color: $muted_text !important

a
  color: black
  &:hover
    color: black

#header
  a
    display: block

ul.timesheets
  li
    margin-left: 20px

ul.circle
  list-style-type: circle
ul.square
  list-style-type: square
ol.upper-roman
  list-style-type: upper-roman
ol.lower-alpha
  list-style-type: lower-alpha

strong,
h1,
h2,
h3,
h4,
h5,
h6,
  color: black

.button
  padding: 20px
  a,
  strong
    color: white
  .fa
    margin-right: 20px

.new_company
  padding: 18px 32px

.secondary_button
  width: 25%
  padding: 10px
  text-align: center
  margin-top: 20px
  font-weight: bold


.breadcrumb
  a.current
    font-weight: bold
    color: black


.green
  color: white
  background-color: $green

// $search-tools-border-color: $base-border-color

$search-tools-border-color: $dark_blue
$search-tools-background: lighten($search-tools-border-color, 10)

.action_buttons
  button
    margin: 10px 10px 10px 0
  .btn
    margin: 10px 10px 10px 0
button
  @include button(simple, lighten($search-tools-background, 10))
  a
    color: white
  font-size: .9em

.primary
  color: white
  background-color: $dark_blue

.yellow
  color: white
  background-color: $yellow

nav
  margin-top: -20px
  ul li
    float: left

.big
  font-size: 30px

.right
  float: right


.new_tasks_notifier
  .star
    color: $yellow

table
  padding: 20px
  //background-color: $green
  //color: white
  //a
  //  color: white

form.new_hours_spent
  padding: 20px

ul.hour_report
  list-style: disc

span.spacer
  padding: 8px

.field.radio_group
  label
    display: inline
    margin-right: 20px

.hide
  display: none

strong span
  font-weight: normal

.half_size
  @include span-columns(5)
  margin-right: 0

.pull_right
  float: right

.clearfix
  @include clearfix

.text_align_right
  text-align: right

.text_align_center
  text-align: center

hr.dotted
  border-top: 1px dotted #000 !important

footer
  .login_logout
    color: lightgray
    span,
    a
      color: lightgray
    a
      text-decoration: underline

.vertical-text
  transform: rotate(90deg)
  transform-origin: left top 0
  //float: left
  position: relative
  top: -84px

i.fa
  margin: 0 5px

.flash-notice
  background-color: #e5edf8
  color: #264d85
  padding: 10px !important

ul.accordion.top-left
  margin-right: 100px
  width: 20%
  float: left
  li.active
    font-weight: bold
content.main
  float: left



#static_pages_instructions
  ul.instructions
    list-style-position: inside
    li
      list-style-type: circle
