body
  background-color: #2A5373

#header
  a
    display: block

.button
  @include border-top-radius(5px)
  @include border-bottom-radius(5px)
  @include border-left-radius(5px)
  @include border-right-radius(5px)
  padding: 20px
  color: white
  a
    color: white

.green
  background-color: $green

.red
  background-color: $red

nav
  ul li
    float: left
