<section id="todoapp" ng-controller="MainCtrl">
  <ng-view></ng-view>
  <header id="header">
    <h1>tasks</h1>
    <form id="todo-form" ng-submit="save(activeTodo)">
      <input 
      id="new-todo" 
      placeholder="What needs to be done?" 
      ng-model="activeTodo.title" 
      autofocus>
    </form>
  </header>

  <section id="main" ng-show="tasks.length" ng-cloak>
    <input 
    id="toggle-all" 
    type="checkbox" 
    ng-model="checked"
    ng-click="checkAll(checked)">
    <label for="toggle-all">Mark all as complete</label>

    <ul id="todo-list">
      <li ng-repeat="task in tasks " ng-class="{completed: task.completed, editing: task == editedTodo}">
      <!-- <li ng-repeat="task in tasks | filter:statusFilter track by $index" ng-class="{completed: task.completed, editing: task == editedTodo}"> -->
        <div class="view">
          <input 
          class="toggle" 
          type="checkbox" 
          ng-model="task.completed"
          ng-click="checkAndSave(task)">
          <label ng-dblclick="edit(task)">{{task.description}}</label>
          <button class="destroy" ng-click="remove(task)"></button>
        </div>
      </li>
    </ul>
  </section>
  <footer id="footer" ng-show="tasks.length" ng-cloak>
    <span id="task-count"><strong>{{remainingCount}}</strong>
      <ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }">
      </ng-pluralize>
    </span>
    <ul id="filters">
      <li>
        <a ng-class="{selected: status == ''} " href="#/">All</a>
      </li>
      <li>
        <a ng-class="{selected: status == 'active'}" href="#/active">Active</a>
      </li>
      <li>
        <a ng-class="{selected: status == 'completed'}" href="#/completed">Completed</a>
      </li>
    </ul>
    <button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed ({{completedCount}})</button>
  </footer>

  <footer id="info">
    <p>Double-click to edit a task</p>
    <p>Credits:
      <a href="http://twitter.com/brettcassette">Brett Cassette</a>,
    </p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
  </footer>
</section>
